.html{
    background-color: black;
    height: 100%;
    width: 100%;
}
.body{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:1920px;
    height:1080px;

}
#loading{
  z-index: 1;
  padding: 10px 10px 5px;
  background: rgb(255, 0, 136);
  left: 0;
  top: 0;
  color: #fff;
  position: fixed;
  width: 150px;
  height: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px;
  border-radius: 5px;
}
.Elephant {
    width: 236px;
    height: 181px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    text-align: left;
    color: #ffd576;
    background-color: black;
    margin-top: 101px;
    margin-left: 50px;
}
.About{
    width: 117px;
    height: 48px;
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    background-color: black;  
    margin-left: 55px;
    margin-top: 29px;
    cursor: pointer;
}
.Music{
    width: 117px;
    height: 49px;
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    background-color: black;  
    margin-left: 55px;
    margin-top: 8px;
    cursor: pointer;
}
.Shows{
    width: 174px;
    height: 49px;
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    background-color: black;  
    margin-left: 55px;
    margin-top: 8px;
    cursor: pointer;
}
.Music_Vid{
    width: 157px;
    height: 49px;
    font-family:'Raleway', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    background-color: black; 
    margin-left: 55px; 
    margin-top: 8px;
    cursor: pointer;
}
.nav{
    display: flex;
    width: 329px;
    height: 1080px;
    border-radius: 3px;
    background-color: #00030D; 
    margin-bottom: 20px; 
  }
  .nav-list{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;  
    flex-direction: column;
  }
  .icon{
      display: flex;
      flex-direction: row;
      margin-top:977.91px;
      margin-left:-230px;
      
  }
  .insta{
      display: flex;
      flex-direction: row;
      margin-left: 14.33px;
      }
  .facebook{
    display: flex;
    flex-direction: row;
  }

  
  
  #enclose{
  position: relative;
  display: flex;
  flex-direction:row;
  width: 100%;
  height: auto;
  width: 1593px;
  height:1081px;
  
  }
.onimage{
  position: absolute;
  margin-bottom: 100px;
}
.firstimage{
  display: flex;
  width:1593px;
  height:1080px; 

}
#picture{
  
    display: none;
    
  } 
  .picture1{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: auto;
  }
  .pic1{
      width:530px;
      height:1080px;
  }
  .pic2{
    width:530.5px;
    height:1080px;
}
.pix{
  cursor: pointer;
}
  #panel{
    background-color:rgba(78,78,78,0.7);
    color: white;
    width:820px;
    height:319px;
    display:flex;
    justify-content: center;
    position: absolute;
    margin-left: -350px;
    margin-top:-80px;
  
  }
  .document{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 40px;
    padding-top: 30px;
    padding-left: 46px;
    padding-right:45px;
    padding-bottom: 32px;
    width: 729px;
    height: 242px;
 
  }
  #panel{
    display: none;
  }
  .pic3{
    width:531.5px;
    height:1080px;
}
.button1{
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  margin-left:724px;
  margin-top:477px;
}
  .opentext{
      width:143px;
      height:143px;
      border-radius: 50%; 
      background-color: blanchedalmond;
    }

  #encloseicon{
    display: flex;
    width:828px;
    height:391px; 
    margin-top: -960px;
    justify-content: space-between;
    margin-left:310px ;

  }  
  #encloseicon2{
    display: flex;
    width:828px;
    height:391px; 
    justify-content: space-between;
    margin-top: 63px;
    margin-left:310px ;
  }
  #secondpageicon{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;

  }
  #secondpageicon2{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;

  }
  #secondpageicon3{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;

  }
  #secondpageicon4{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;

  }
  #secondpage{
    display:none;
    
  }
  #secondpagem{
    display:none;
    
  }
  .secondimage{
    width:1593px;
    height:1080px; 
  }
  .iconic1{
    cursor: pointer;
  }

  #twopage{
    display:none;
  }
  #threepage{
    display:none;
  }
  #fourpage{
    display:none;
  }
  #fivepage{
    display:none;
  }
  .pagea{
    width:1593px;
    height:1080px; 
  }
  .secondicon{
    margin-top: -720px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
  }
  .albumicon{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
  }

  .pageb{
    width:1593px;
    height:1080px; 
  }
  .secondicon1{
    margin-top: -720px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;

  }
  .albumicon1{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
  }


  .pagec{
    width:1593px;
    height:1080px; 
  }
  .secondicon2{
    margin-top: -720px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;

  }
  .albumicon2{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
  }

  .paged{
    width:1593px;
    height:1080px; 
  }
  .secondicon3{
    margin-top: -720px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;

  }
  .albumicon3{
    width:328px;
    height:328px;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
  }
  .nav1{
    width:861px;
    height:328px;
    display: flex;
    align-items: center;
    background-color: rgba(57,57,57,0.7);
    margin-left: 112px;
  }
  .nav-list1{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;  
    flex-direction: column;
    color:#ffffff;
    font-size:35px ;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 51px;
    padding-left: 75px;
    line-height: 60px;
    padding-bottom: 51px;
  }
  .nav2{
    width:861px;
    height:768px;
    display: flex;
    align-items: center;
    background-color: rgba(57,57,57,0.7);
    margin-left: 112px;
    margin-top: -223px;
  }
  .nav-list2{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;  
    flex-direction: column;
    color:#ffffff;
    font-size:35px ;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 51px;
    padding-left: 75px;
    line-height: 60px;
    padding-bottom: 51px;
  }
  .nav3{
    width:861px;
    height:375px;
    display: flex;
    align-items: center;
    background-color: rgba(57,57,57,0.7);
    margin-left: 112px;
    margin-top: -20px;
  }
  .nav-list3{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;  
    flex-direction: column;
    color:#ffffff;
    font-size:35px ;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 51px;
    padding-left: 75px;
    line-height: 60px;
    padding-bottom: 51px;
  }
  .nav4{
    width:861px;
    height:895px;
    display: flex;
    align-items: center;
    background-color: rgba(57,57,57,0.7);
    margin-left: 112px;
    margin-top: -280px;
  }
  .nav-list4{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;  
    flex-direction: column;
    color:#ffffff;
    font-size:35px ;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 51px;
    padding-left: 75px;
    line-height: 60px;
    padding-bottom: 51px;
  }
  #lastpage{
    display: none;
  }
  .lastpage1{
    width:1593px;
    height:1080px;
  }

.lastpageicon{
  display: flex;
  flex-direction: column;
  width:854.5px;
  height:851px;
  justify-content: space-between;
  margin-top: -950px;
  margin-left: 382px;
}
.lastnav{
  width:606px;
    height:243px;
    display: flex;
    align-items: center;
    background-color: rgba(57,57,57,0.7);
    margin-top:-720px;
    margin-left: 79px;
}
.lastnava{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: column;
  background-color: rgba(57,57,57,0.7);
  color:#ffffff;
  font-size:25px ;
  font-family: 'Raleway', sans-serif;
  padding-top: 54px;
  padding-left: 30px;
  line-height: 50px;
  padding-bottom: 38px;
  padding-right: 30px;
}
.lastnav1{
  width:551px;
    height:543px;
    display: flex;
    align-items: center;
    background-color: rgba(57,57,57,0.7);
    margin-top:-200px;
    margin-left: 962px;
}
.lastnavb{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: column;
  background-color: rgba(57,57,57,0.7);
  color:#ffffff;
  font-size:25px ;
  font-family: 'Raleway', sans-serif;
  padding-top: 54px;
  padding-left: 41px;
  line-height: 50px;
  padding-bottom: 53px;
  padding-right: 25px;
}
#finalpage{
  display: none;
}
.finalpage1{
  width:1593px;
  height:1080px;
}
.gym{
  display: flex;
  flex-direction: column;
  width:320px;
  height:320px;
  margin-top: -740px;
  margin-left: 630px;
}

.nocolour{
  text-decoration: none;
  color: #ffd576;
}

.overlay {
  display: flex;
  height:328px ;
  width:328px;
  opacity: 0;
  transition: .3s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  justify-content: center;
  margin-left: 6px;
  margin-top: -338px;
}

.hovericon1:hover .overlay {
  opacity: 0.5;
}

.hovericona{
  display: flex;
  height: 328px;
  width: 328px;
  margin-left: 50px;
}
.navtwo{
  display:none;
}
.nav-listtwo{
  display:none;
}
#enclosem{
  display:none;
}
.navtwos{
  display: none;
}
@media only screen and (max-width: 769px){
  .nav{
    display:none
  }
  .navtwo{
    display:block;
    display: flex;
    width: 100%;
    height: 127px;
    background-color: #00030D; 
    flex-direction: row;
  }

  .body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .Elephant2 {

  font-family: Helvetica;
  font-size: 45px;
  text-align: left;
  color: #ffd576;

  margin-top: 48px;
  margin-left: 39px;

}
.About2{

  font-family:'Raleway', sans-serif;
  font-size: 25px;

  color: #ffffff; 

  cursor: pointer;
}
.Music2{

  font-family:'Raleway', sans-serif;
  font-size: 25px;

  color: #ffffff;


  cursor: pointer;
}
.Shows2{

  font-family:'Raleway', sans-serif;
  font-size: 25px;

  color: #ffffff;


  cursor: pointer;
}
.Music_Vid2{

  font-family:'Raleway', sans-serif;
  font-size: 25px;

  color: #ffffff;


  cursor: pointer;
}

.nav-listtwo{
  display: flex;

  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: row;
  height:73px;
  background-color: #393939;

  justify-content: space-evenly;
  align-items: center;
}
.icon2{
    display: flex;
    flex-direction: row;
    margin-top:55px;
    margin-left: 300px;

}
.insta2{
    display: flex;
    flex-direction: row;
    margin-left: 16px;

    }
.facebook2{
  display: flex;
  flex-direction: row;
}

#enclose{
  display: none;
}

#enclosem{
  display:block;
}

#picturem{
  display: none;
}

.picture1m{
  background-color: #393939;
  height:827px;
}
.pixm{
 margin-left: 330px;
 margin-top: 70px;
}
#panelm{

  display:flex;
  justify-content: center;
  position: absolute;


}
.documentm{
  color:white;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 150px;
  width:509px;
  height:179px;
  line-height: 30px;
}
#panelm{
  display:none;
  
}

#encloseiconm{
  display: flex;
  width:516px;
  height:212px; 
  margin-top: -700px;
  justify-content: space-between;
  margin-left:126px ;

}  
#encloseicon2m{
  display: flex;
  width:516px;
  height:212px; 
  justify-content: space-between;
  margin-top: 63px;
  margin-left:126px ;
}
#secondpageiconm{
  width:212px;
  height:212px;



}
#secondpageicon2m{
  width:212px;
  height:212px;


}
#secondpageicon3m{
  width:212px;
  height:212px;

}
#secondpageicon4m{
  width:212px;
  height:212px;


}



#twopagem{
  display:none;
}
#threepagem{
  display:none;
}
#fourpagem{
  display:none;
}
#fivepagem{
  display:none;
}
.pageam{
  width:100%;
  height:835px; 
}
.secondiconm{
  margin-top: -560px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
}
.albumiconm{
  width:188px;
  height:188px;

}

.pagebm{
  width:100%;
  height:835px; 
}
.secondicon1m{
  margin-top: -560px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
}


.albumicon1m{
  width:188px;
  height:188px;
}


.pagecm{
  width:100%;
  height:835px; 
}
.secondicon2m{
  margin-top: -560px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
}

.albumicon2m{
  width:188px;
  height:188px;
}

.pagedm{
  width:100%;
  height:835px; 
}
.secondicon3m{
  margin-top: -560px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
}

.albumicon3m{
  width:188px;
  height:188px;
}
.nav1m{
  width:315px;
  height:206px;
  display: flex;
  align-items: center;
  background-color: rgba(57,57,57,0.7);
  margin-right: 60px;
 
}
.nav-list1m{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: column;
  color:#ffffff;
  font-size:20px ;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 35px;
  margin-left: 31px;
}
.nav2m{
  width:283px;
  height:427px;
  display: flex;
  align-items: center;
  background-color: rgba(57,57,57,0.7);
  margin-right: 60px;
  margin-top: -100px;
}
.nav-list2m{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: column;
  color:#ffffff;
  font-size:20px ;
  font-family: 'Noto Sans TC', sans-serif;
  padding-left: 31px;
  line-height: 35px;

}
.nav3m{
  width:281px;
  height:229px;
  display: flex;
  align-items: center;
  background-color: rgba(57,57,57,0.7);
margin-right: 60px;;
  margin-top: -20px;
}
.nav-list3m{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: column;
  color:#ffffff;
  font-size:20px ;
  font-family: 'Noto Sans TC', sans-serif;
  padding-left: 31px;
  line-height: 35px;

}
.nav4m{
  width:328px;
  height:527px;
  display: flex;
  align-items: center;
  background-color: rgba(57,57,57,0.7);
   margin-right: 60px;
  margin-top: -150px;
}
.nav-list4m{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;  
  flex-direction: column;
  color:#ffffff;
  font-size:20px ;
  font-family: 'Noto Sans TC', sans-serif;
  padding-left: 31px;
  line-height: 35px;

}
#lastpagem{
  display: none;
}
.lastpage1m{
  width:100%;
  height:825px;
}


.tenm{
  margin-top: -700px;
  width:786px;
height:474px;
position: absolute;
}

#finalpagem{
display: none;
}
.finalpage1m{
width:100%;
height:825px;
}
.gymm{

width:319px;
height:384px;
margin-top: 200px;
position: absolute;
margin-left: -550px;


}

.nocolour{
text-decoration: none;
color: #ffd576;
}

}
#encloses{
  display:none;
}
.nav-listtwos{
  display: none;
}
@media only screen and (max-width: 376px){
 #enclose{
   display: none;
 }
 #enclosem{
   display: none;
 }
 #encloses{
   display: none;
 }

 
 .nav{
  display:none
}
.navtwo{
  display: none;
}
.nav-listtwo{
  display: none;
}
.navtwos{
  display:block;
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #00030D; 
  flex-direction: row;
}



.body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Elephant2s {

font-family: Helvetica;
font-size: 33px;
text-align: left;
color: #ffd576;

margin-top: 48px;
margin-left: 39px;

}
.About2s{

font-family:'Raleway', sans-serif;
font-size: 25px;

color: #ffffff; 

cursor: pointer;
}
.Music2s{

font-family:'Raleway', sans-serif;
font-size: 25px;

color: #ffffff;


cursor: pointer;
}
.Shows2s{

font-family:'Raleway', sans-serif;
font-size: 25px;

color: #ffffff;


cursor: pointer;
}
.Music_Vid2s{

font-family:'Raleway', sans-serif;
font-size: 25px;

color: #ffffff;


cursor: pointer;
}


.icon2s{
  display: flex;
  flex-direction: column;



}
.insta2s{
  display: flex;
  flex-direction: row;
  margin-top: 30px;


  }
.facebook2s{
display: flex;
flex-direction: row;
}

#enclose{
display: none;
}

#enclosem{
display:none;
}
#encloses{
  display:block;
}

.nav-listtwos{
  display: flex;
  flex-direction: column;
}
.linkz{
  width: 186px;
  height: 448px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color:rgba(0,0,0,78);
  margin-top: -480px;
  margin-left: 90px;
  align-items: center;
}
}
